@font-face {
    font-family: 'he1';
    src: url('../fonts/HelveticaNeueW23-Bd.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'he2';
    src: url('../fonts/HelveticaNeueW23-Reg.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ge1';
    src: url('../fonts/GE_SS_Two_Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ge2';
    src: url('../fonts/GE_SS_Two_Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ge3';
    src: url('../fonts/GE_SS_Two_Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ho1';
    src: url('../fonts/HoboStd.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kof';
    src: url('../fonts/DroidKufi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zz';
    src: url('../fonts/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'co';
    src: url('../fonts/Cocon-Next-Arabic-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ins {
    text-decoration: underline;
}

del {
    text-decoration: line-through;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ul,
ol,
il,
a,
input {
    direction: rtl;
}

ul,
ol,
dl {
    list-style-position: inside;
    font-weight: normal;
    list-style: none;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

a {
    text-decoration: none!important;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    color: #000;
}